<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mdspringboot.modules.mybatisplus.mapper.TestMapper">
    <select id="getPage" resultType="com.example.mdspringboot.modules.mybatisplus.pojo.entity.Test">
        select * from test
    </select>
</mapper>